@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

nav > div:first-child {
  background-color: #ed1c24;
  display: flex;
  justify-content: center;
}

nav > div img {
  height: 60px;
}

nav > div:nth-child(2) {
  padding-top: 7px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

nav > div:nth-child(2) a {
  display: flex;
  justify-content: center;
  width: 100%;
  border: 1px solid #ed1c24;
  border-top: none;
  color: black;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}

nav > div:last-child {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
  margin-right: 15%;
  gap: 10px;
}

nav > div:last-child a {
  text-decoration: none;
}

nav > div:last-child img {
  height: 25px;
}

/* ------------- Carrossel de imagens ------------- */
.slider {
  top: 10px;
  width: 1200px;
  height: 400px;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  margin: auto;
}

@media screen and (max-width: 1250px) {
  .slider {
    display: none;
  }
}

.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide.active {
  opacity: 1;
}

.prev-button,
.next-button {
  position: absolute;
  top: 30%;
  /* transform: translateY(-50%); */
  background: none;
  border: none;
  font-size: 80px;
  color: #d71818;
  cursor: pointer;
}

.prev-button {
  left: 10px;
}

.next-button {
  right: 10px;
}
/* ------------- Carrossel de imagens ------------- */

/* ------------- Notícias ------------- */
.noticias {
  margin-top: 50px;
}

.imagem-abaixo {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
}

.imagem-abaixo > div:first-child img {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.485);
}

.imagem-abaixo > div:first-child span {
  color: white;
  font-size: x-large;
  position: absolute;
  transform: translateY(400px) translatex(-650px);
}

.imagem-abaixo > div:last-child {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.imagem-abaixo > div:last-child img {
  height: 225px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.485);
}

@media screen and (max-width: 1155px) {
  .imagem-abaixo > div:first-child {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .imagem-abaixo > div:first-child img {
    height: auto;
    width: 70%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.485);
  }

  .imagem-abaixo > div:first-child span {
    display: none;
  }

  .imagem-abaixo {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }

  .imagem-abaixo > div:last-child {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
  }

  .imagem-abaixo > div:last-child img {
    height: auto;
    width: 70%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.485);
  }
}

@media screen and (max-width: 750px) {
  .imagem-abaixo > div:first-child img {
    width: 70%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.485);
  }

  .imagem-abaixo > div:last-child {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
  }

  .imagem-abaixo > div:last-child img {
    height: auto;
    width: 70%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.485);
  }
}
/* ------------- Notícias ------------- */

/* ------------- Eventos -------------- */
#enventos {
  margin-top: 50px;
}

#events-txt {
  margin-top: 20px;
  font-size: 1.5em;
  color: red;
  padding-left: 1%;
  font-family: "Montserrat", sans-serif;
}

#line {
  border: 1px solid red;
  width: 90%;
  margin-top: -0.7em;
  margin-left: 10%;
}

.events-container {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width: 1050px) {
  .events-container {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
  }

  #line {
    border: 1px solid red;
    width: 85%;
    margin-top: -0.7em;
    margin-left: 15%;
  }
}

@media screen and (max-width: 750px) {
  .events-container {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(1, 1fr);
  }
  
  #line {
    border: 1px solid red;
    width: 70%;
    margin-top: -0.7em;
    margin-left: 30%;
  }


}

.events-square {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 340px;
  height: 300px;
  background-color: whitesmoke;
  border-radius: 10px;
  margin-top: 2em;
  float: left;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.485);
}

.events-square img {
  width: 100%;
  padding-bottom: 7em;
  border-radius: 10px;
}

.events-square h3 {
  position: absolute;
  text-align: center;
  padding-top: 10em;
  font-size: 15px;
  color: rgb(177, 11, 11);
  font-family: "Montserrat", sans-serif;
}

.btn-vermais {
  position: absolute;
  margin-top: 14em;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  border-radius: 10px;
  width: 140px;
  height: 35px;
  cursor: pointer;
  background-color: #960101;
  color: white;
  font-family: "Montserrat", sans-serif;
}

.btn-vermais:hover {
  background-color: transparent;
  color: #960101;
}

/* ------------- Unidades -------------- */

#unidades {
  margin-top: 50px;
}

#unidades-txt {
  margin-top: 20px;
  font-size: 1.5em;
  color: red;
  padding-left: 1%;
  font-family: "Montserrat", sans-serif;
  width: 30%;
}

#line2 {
  border: 1px solid red;
  width: 70%;
  margin-top: -0.7em;
  margin-left: 30%;
}

.unidades-container {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(2, 1fr);
}

@media screen and (max-width: 1050px) {
  .unidades-container {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 750px) {
  .unidades-container {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(1, 1fr);
  }
}

.unidades-square {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 330px;
  height: 240px;
  background-color: whitesmoke;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.485);
}

.unidades-square img {
  width: 110%;
  padding-bottom: 7em;
  border-radius: 10px;
}

.unidades-square h3 {
  position: absolute;
  text-align: center;
  padding-top: 3.5em;
  font-size: 15px;
  color: rgb(177, 11, 11);
  font-family: "Montserrat", sans-serif;
}

.btn-vermaiss {
  position: absolute;
  margin-top: 11.5em;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  border-radius: 10px;
  width: 140px;
  height: 30px;
  cursor: pointer;
  background-color: #960101;
  color: white;
  font-family: "Montserrat", sans-serif;
}

.btn-vermaiss:hover {
  background-color: transparent;
  color: #960101;
}

.endereço {
  position: absolute;
  margin-top: 10.5em;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 35px;

  color: rgb(0, 0, 0);
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
}

footer {
  background-color: #960101;
  color: white;
  padding: 20px;
  text-align: center;
  margin-top: 40px;
  height: 12em;
  font-family: "Montserrat", sans-serif;
}

.footertexto {
  color: #c5bcbc;
}
